    <header id="first" class="container-fluid">
        <div class="header-content">
          <%= image_tag "Attachment-1.JPG", class: "img-responsive", width: "100%", height: "100%" %>
        </div>
    </header>
    <section id="one">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h1 class="margin-top-0 text-faded">Instructors</h1>
                    <br>
                  <div class="well">
                  <%= image_tag "IMG_3594.JPG",class: "img-rounded" %>

                  <h3>JJ Pugsley</h3>
                  <h4>President/ Head Instructor</h4>
                    <p>With over 14 years of combined executive protection, armed security and military experience, JJ brings a wealth of knowledge and real world applications to the training cadre. In addition to specialized training he received with serving on Naval
                      Special Clearance Team One, he has also completed a myriad of executive protection, tactical firearms and instructor certification courses to continue his expertise.</p>
                    <p>
                      His ability to articulate his knowledge of the field has been augmented by instructor development; he is currently an NRA pistol instructor and qualified sniper instructor.</p>
                    <p>
                      JJ’s range of experience stretches across more than 80 countries while providing protection for CEO’s, celebrities and dignitaries at various events such as the Republican and Democratic National Conventions, award shows, movie premieres and
                      executive appearances.</p>
                    <p>
                      JJ also holds a 2nd degree black belt in Brazilian Jiu-Jitsu and has taught ground fighting tactics to members of the Denver Police Department, the San Diego Police Department, the US Border Patrol, the Department of Homeland Security as well as
                      elite military units such as US Navy SEALs, Marine Recon and Navy EOD.
                    </p>
                  <br>
                    </div>
                  <br>
                  <div class="well">
                  <%= image_tag "IMG_3050.JPG",class: "img-rounded" %>
                  <h3>Jeremiah Sipes</h3>
                  <h4>Vice-President/ Director of Training</h4>
                    <p>With over 13 years of experience and a wide variety of skills and real world application to the cadre. He has successfully completed more than 2,000 motorcade operations around the world, operating from every position in the movement;
                      he has an exceptional sense of tactical driving techniques and practices.</p>
                    <p>As an executive protection agent, Jeremiah has gained the combined experience of Detail leader, lead advance agent, assistant director, and director positions leading to an adept ability for teaching and directing small teams, groups and
                      individuals to a greater understanding of positions and roles.</p>
                    <p>Jeremiah's real world knowledge of the most up to date EP tactics is augmented by his protection of CEO’s and celebrities in nearly every theatre of the world including Europe, Mexico, South and Central America, the Middle-East, Africa, Asia and
                      the South Pacific, providing services as a team leader as well as security, driving, daily schedules, and route planning. Additionally, he has conducted operations for various events such as small secure meetings to stadium security with over 60,000
                      people in attendance to private vacations and celebrity and executive appearances.</p>
                    <p>Prior to entering the realm of private sector and contract security, Jeremiah served as a Recon Marine and Marine Combat Instructor for Water Survival while also instructing a school of martial arts for 2 years. He holds a 2nd degree back belt in
                      Tae Kwon Do and a back ground of judo and hapkido.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="two">
        <div class="container well">
            <div class="row">
                <div class="col-lg-12 text-left text-muted">
                  <h1 class="text-center text-dark">Course Descriptions and Pricing</h1>
                  <h4 class="text-center">Pricing note: a 10% discount will be offered on individual courses to all active duty military, veterans, and law enforcement.</h4>
<div class="container-fluid">
                  <h3 class="text-dark">Introduction to Executive Protection:</h3>

                  <p>This two day (20 hour) course of instruction is designed to provide the student with the knowledge, skills and abilities needed to operate as an executive protection agent. Upon successful completion of the course the student will be able to:</p>

                  <p>Perform the duties of a basically trained personal protection specialist which include:</p>
                  <ul>
                    <li>Performing an advance of a venue that is to be attended by the principal.</li>
                    <li>Performing basic motorcade driving using the taught methods and techniques.</li>
                    <li>Perform basic hand to hand techniques in the personal protection environment.</li>
                    <li>Deploy his or her weapon effectively in a personal protection environment.</li>
                    <li>Demonstrate proper effective walking movements and formations for a variety of circumstances.</li>
                  </ul>

                  <p><strong class="text-dark">Day 1:</strong> Will cover the classroom portion of the course with some practical exercises such as basic walking movements and vehicle mounting and dismounting. Comfortable attire is recommended.</p>
                  <p><strong class="text-dark">Day 2:</strong> Will be almost entirely hands and outside the classroom. Experiential learning in conducting a site survey/ security advance and motorcade set-up and operations will be conducted. Business attire is required (including a jacket) for day 2.</p>

                  <p>*Please note* This is not a shooting course, firearms and/or ammunition are NOT permitted at any time. Weapons deployment and tactics will be conducted with “blue” guns provided by RTI.</p>

                  <p>Graduates of this course will receive an “Executive Protection – Basic” certificate of completion.</p>

                  <p>This course is open to Law Enforcement, Military members and security professionals.</p>

                  <p><em>Course Cost</em>: $500 per student, Maximum of 15 students per course</p>
</div>
                  <h3 class="text-dark">NRA Basic Pistol Shooting (CCW) Course:</h3>

                  <p>This course exceeds the requirements for the state of Colorado’s proof of firearms training needed to apply for the Concealed Carry Weapon (CCW) permit.</p>

                  <p>Short Description: Teaches the basic knowledge, skills, and attitude for owning and operating a pistol safely.</p>

                  <p>More Details: This course is at least 8-hours long and includes classroom and range time learning to shoot revolvers and semi-automatic pistols. Students learn NRA’s rules for safe gun handling; pistol parts and operation; ammunition; shooting
                    fundamentals; range rules; shooting from the bench rest position, and two handed standing positions; cleaning the pistol; and continued opportunities for skill development. Students will receive the NRA Guide to the Basics of Pistol Shooting
                    handbook, NRA Gun Safety Rules brochure, Winchester/NRA Marksmanship Qualification booklet, take a Basics of Pistol Shooting Student Examination, and course completion certificate.</p>

                  <p>Students should dress in range appropriate attire (Closed toed shoes, baseball style hats, and long sleeves are recommended) and must bring eye protection, ear protection along with a pistol (preferable one they plan to carry) and 200 rounds of
                    ammunition.</p>

                  <p><em>Course Cost</em>: $150, Maximum of 10 students per course.</p>

                  <h3 class="text-dark">Handgun and Carbine Shooting Course</h3>

                  <p>This 10-hour course covers the basic use and deployment of the handgun as well as the use of the carbine while keeping the handgun as an option.</p>
                  <p>Topics covered include:</p>
                  <ul>
                    <li>Handgun fundamentals and marksmanship</li>
                    <li>Drawing and firing the handgun</li>
                    <li>Emergency reloads of the handgun</li>
                    <li>Firing the handgun in low-light situations</li>
                    <li>Carbine Fundamentals and Marksmanship</li>
                    <li>Presentation positions</li>
                    <li>Shooting while moving</li>
                    <li>Clearing malfunctions</li>
                    <li>Emergency reloads of the rifle and gear placement</li>
                    <li>Transitioning from the rifle to the pistol.</li>
                    <li>Tactical mindset and real-life scenarios.</li>
                  </ul>
                  <p>This course is conducted outdoors at a location near Bailey, CO regardless of the weather so students will need to plan their attire accordingly. The lunch break will be taken on the range so students will need to bring their lunch, snacks, and
                    plenty of water. All guns must be empty and in a case at the outset of the class.</p>

                  <p>This is NOT a beginner course, students will be required to provide proof of previous firearms training (Call for details, examples include an NRA pistol AND Rifle course, DD-214 showing marksmanship ribbon for pistol and rifle, or POST
                    certification) exceptions will be made on a case by case basis when a student has experience but no proof of formal training.</p>

                  <p>Students are required to bring a handgun with a holster (not concealed), a carbine rifle with a sling, a flashlight (or pistol weapon light), a chest rig (plate carrier, Rhodesian, or low-profile) or belt configured magazine holder for the carbine
                    (4-6 mags) and pistol (3 mags), 250 rounds of handgun ammo and 500 rounds of carbine ammo, ear protection (preferably electronic) eye protection (clear and shaded) and a notepad and pen. Suggested attire includes rugged shoes/ boots, pants, and a
                    baseball style cap.</p>

                  <p>**This is not an NRA course**</p>

                  <p><em>Course Cost</em>: $250 per student, Maximum of 10 students.</p>

                  <h3 class="text-dark">Active Shooter in the Workplace</h3>

                  <p>This course is designed to prepare members of an office staff or place of business to survive an active shooter in their specific workplace. Each class is tailored to the office or building in which the staff works after an RTI cadre member
                    performs a site visit and assessment. Once the assessment is complete the cadre will design an emergency action protocol (EAP) for the location and conduct training with the staff on the implementation of the emergency procedures and actions to take
                    in the event of an active shooter. This course not only provides critical knowledge and training but a feeling of confidence and safety among the entire staff.</p>

                  <p>Contact the RTI staff today to schedule this critical custom course at your convenience.</p>

                  <p>Please call for pricing options: (720) 308-4739</p>

                  <h3 class="text-dark">Women’s Only Self-Defense Seminar</h3>

                  <p>This four-hour course is designed to introduce women to the basics of self-defense, situational awareness and combat mindset to avoid and, if needed, survive a sexual assault. Material covered includes the most likely time and places for an attack
                    to occur, ways to avoid common mistakes that can lead to an attack, and the four phases of a sexual assault and how to physically defend and survive at each phase. This is a self defense class so please wear comfortable (work out) clothes.</p>
                  <h4 class="text-dark">Location</h4>
                  <p>Factory X Muay Thai/ Jiu-Jitsu/ MMA<br>
                    4731 S. Santa Fe Cir. Unit 1A<br>
                    Englewood, CO 80110
                  </p>

                  <p><em>Course Cost</em>: $50 per student</p>

                  <h3 class="text-dark">Children’s Anti-Abduction Seminar</h3>

                  <p>This four-hour course is designed to introduce children and teens to the basics of situational awareness, Evasion and Self-Defense needed to avoid or survive a kidnap attempt. Based on RTI’s proprietary READ method, students will learn to
                    Recognize, Evade, Alert and Defend an attempted abduction. In a fun and cooperative environment kids learn techniques that can make the difference in the event of a kidnapping attempt.</p>
                  <h4 class="text-dark">Location</h4>
                  <p>Factory X Muay Thai/ Jiu-Jitsu/ MMA<br>
                    4731 S. Santa Fe Cir. Unit 1A<br>
                    Englewood, CO 80110
                  </p>

                  <p><em>Course Cost</em>: $50 per student</p>
                </div>
            </div>
        </div>
    </section>
    <section id="three" class="col-md-6 col-md-offset-3">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
          <li data-target="#carousel-example-generic" data-slide-to="7"></li>
          <li data-target="#carousel-example-generic" data-slide-to="8"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "IMG_0621.JPG", class: "img-responsive" %>
          </div>
          <div class="item">
            <%= image_tag "IMG_2921.JPG" %>
          </div>
          <div class="item">
            <%= image_tag "IMG_3286.JPG" %>
          </div>
          <div class="item">
            <%= image_tag "IMG_3821.JPG" %>
          </div>
          <div class="item">
            <%= image_tag "IMG_6751.JPG" %>
          </div>
          <div class="item">
            <%= image_tag "IMG_7157.JPG" %>
          </div>
          <div class="item">
            <%= image_tag "IMG_7944.JPG" %>
          </div>
          <div class="item">
            <%= image_tag "IMG_8934.JPG" %>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
    <section class="container-fluid" id="four">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">
                <h2 class="text-center text-dark">Course Dates</h2>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Introduction to Executive Protection</h3>
                    <div class="media-body media-middle">
                        <p>Jan 30-31, 2016 8:00am-4:00pm both days
                        </p>
                      <p>Feb 27-28, 2016 8:00am-4:00pm both days
                      </p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>Advanced Concealed Carry Shooting Course</h3>
                    <div class="media-body media-middle">
                        <p>February 28th, 2016 6:00pm-9:00pm
                        </p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Basic Handgun/ Carbine</h3>
                    <div class="media-body media-middle">
                        <p>February 7th, 2016 8:00am-4:00pm
                        </p>
                      <p>April 9th, 2016, 8:00am-4:00pm
                      </p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>NRA Basic Pistol Course</h3>
                    <div class="media-body media-middle">
                        <p>January 24th, 2016 12pm-8pm
                        </p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Women’s Only Self-Defense</h3>
                    <div class="media-body media-middle">
                        <p>February 6th, 2016 12:30pm-3:30pm
                        </p>
                    </div>
                </div>
              <div class="media wow fadeIn">
                <h3>Children’s Anti-Abduction Seminar</h3>
                <div class="media-body media-middle">
                  <p>March 2nd, 2016 12:30pm-3:30pm</p>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section class="well" id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                    <hr class="primary">
                    <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<div class="modal-body">
        		<img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
        		<p>
        		    <br/>
        		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
        		</p>
        	</div>
        </div>
        </div>
    </div>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Ronin Training Institute </h2>
        		<p class="text-justify">
              Ronin Training Institute is a veteran owned and operated company that offers a wide variety of training in: firearms, active shooter in the workplace response, security, executive protection, and self-defense in the Denver metro area. Our instructors are professional security experts with over 25 years of experience in international executive security and protection along with specialized military service and extensive expertise in martial arts. Contact us today to discover how we can meet your training needs.
            </p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        	</div>
        </div>
        </div>
    </div>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Nice Job!</h2>
        		<p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
        		<p class="text-center"><a href="http://www.bootstrapzero.com">Learn more at BootstrapZero</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
        	</div>
        </div>
        </div>
    </div>

